/*Definição de cores e fontes'*/
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500&family=Roboto&display=swap');

:root {
    --fonte1: 'Concert One', sans-serif;
    --fonte2: 'Roboto Slab', serif;
    --fonte3: 'Arimo', sans-serif;
    --cor1: white;
    --cor2: black;
    --cor3: #472B1E;
    --cor4: #A37655;
    --cor5: #CFB093;
    --cor6: #d69704;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-brand {
    padding: 0!important;
}

#logo{
    width: 100px;
}

header{
    background-color: var(--cor4);
}

.navbar-nav .nav-link {
    color: var(--cor2);
}
.navbar-nav{
    margin-left: 10px;
}
form{
    margin-right:10px ;
}
.navbar-nav .nav-link:hover {
    color: white; /* Cor quando o mouse passa por cima */
}

/* Centralizar a logo */


body{
    background-image: url(imagens/aside.jpg);
}

.navbar-brand {
    flex-basis: 100%; /* Define a logo para ocupar toda a largura disponível */
    text-align: center; /* Centraliza a logo */
}

footer{
    background-color: var(--cor4);
}

span{
    color: var(--cor2);
}

ion-icon{
    color: var(--cor2);
}
#preto{
    color: var(--cor2);
}

#banner{
    margin-bottom: 50px;
    width: 100%;
}

.card-title{
    color: var(--cor3);
    font-family: var(--fonte2);
}
#card{
    margin-bottom: 30px;
}
a .btn{
    color: var(--cor6);
}

strong{
    color: var(--cor3);
    font-size: 2em;
}
.card{
    margin-bottom: 100px;
}

